{% extends "MeldonStrongholdBundle:Default:layout.html.twig" %}

{% block mainbody %}
    <div class="well row">
        <p>Game ID: {{ game.id }}</p>
        <p>Phase: {{ game.phase.name }}</p>
    </div>
{% endblock %}
